In [1]:
# Import 3rd party libraries
import urllib.request
import json
import pandas as pd
from datetime import datetime

In [2]:
# Fetch data from api

In [3]:
url = 'https://api.covid19api.com/summary'

In [4]:
JsonObj = urllib.request.urlopen(url)
JsonObj

In [5]:
Obj = json.load(JsonObj)

In [6]:
# Iterate though, filter and save data

In [7]:
Countries = []
Cases = []
nCases = []
Deaths = []
nDeaths = []
Recoveries = []
nRecoveries = []

In [8]:
for item in Obj['Countries']:
    Countries.append(item['Country'])
    Cases.append(item['TotalConfirmed'])
    nCases.append(item['NewConfirmed'])
    Deaths.append(item['TotalDeaths'])
    nDeaths.append(item['NewDeaths'])
    Recoveries.append(item['TotalRecovered'])
    nRecoveries.append(item['NewRecovered'])

In [9]:
# Create a pandas dataframe
DataLib = {
    "Countries" : Countries,
    "Total Cases" : Cases,
    "New Cases" : nCases,
    "Total Deaths" : Deaths,
    "New Deaths" : nDeaths,
    "Total Recoveries" : Recoveries,
    "New Recoveries" : nRecoveries
}

cols = DataLib.keys()

data = pd.DataFrame(DataLib, columns = cols)
data.head()

,Countries,Total Cases,New Cases,Total Deaths,New Deaths,Total Recoveries,New Recoveries
0,,0,0,0,0,0,0
1,Azerbaijan,0,0,0,0,0,0
2,Afghanistan,94,10,4,2,2,0
3,Albania,174,28,6,1,17,0
4,Algeria,367,65,25,4,29,-36

In [10]:
# Save to csv file as current date
name = datetime.now().strftime("%d-%b-%Y")
data.to_csv(f'Data-Sets/{name}.csv')